/* ===== RESET & STYLES ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.9863rem;
    color: var(--white);
}

h2 {
    font-size: 2.4881rem;
    color: var(--title-black);
}

h3 {
    font-size: 2.0737rem;
    color: var(--title-black);
}

p {
    font-size: 1rem;
    color: var(--paragraph-black);
}

li {
    list-style-type: none;
}


header {
    padding: 1rem 7.5rem;
}

section {
    padding-left: 13.875rem;
    padding-right: 13.875rem;
    background-color: var(--yellow-background);
}

main {
    padding-left: 13.875rem;
    padding-right: 13.875rem;
}

footer {
    padding-left: 13.875rem;
    padding-right: 13.875rem;
    background-color: var(--footer);
    color: var(--white);
}


/* ===== Colors ===== */
:root {
    --white: #FEFEFE;
    --green: #259F00;
    --green-hover: #1f8600;
    --green-form: #DBEDE1;
    --yellow-background: #FFF8E3;
    --yellow-cta: #FFDF7E;
    --yellow-boxes: #FFF4D4;
    --yellow: #FFD24C;
    --yellow-background: #FFF8E3;

    --title-black: #2D2E30;
    --paragraph-black: #5D5F66;
    --footer: #535353;
}

/* ===== Buttons ===== */

.call-button {
    padding: 10px 15px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.cta-button {
    padding: 10px 15px;
    background-color: var(--yellow-cta);
    color: var(--title-black);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.submit-button {
    padding: 10px 15px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

/* ===== Hover ===== */

.cta-button:hover {
    background-color: var(--yellow);
}

.submit-button:hover,
.call-button:hover {
    background-color: var(--green-hover);
}

/* =================================================== */

/* ===== HEADER ===== */
.call-button a {
    color: var(--white);
}

.white-background {
    background-color: var(--white);
}