/* ===== RESET & STYLES ===== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-size: 2.9863rem;
    color: var(--white);
    font-family: 'Merriweather Sans', sans-serif;
}

h2 {
    font-size: 2.4881rem;
    color: var(--title-black);
    font-family: 'Merriweather Sans', sans-serif;
}

h3 {
    font-size: 1.44rem;
    color: var(--title-black);
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-size: 1rem;
    color: var(--paragraph-black);
}

li {
    list-style-type: none;
}

header {
    padding: 1rem 7.5rem;
}

section {
    padding-left: 13.875rem;
    padding-right: 13.875rem;
    background-color: var(--yellow-background);
}

main {
    padding: 1.25rem 13.875rem 0rem; /*  TOP / LEFT & RIGHT / BOTTOM */
}

footer {
    padding: 1rem 13.875rem;
    background-color: var(--footer);
    color: var(--white);
    font-size: 0.8rem;
}

.white-background {
    background-color: var(--white);
}


/* ===== Colors ===== */
:root {
    --white: #FEFEFE;
    --grey-background: #FAFAFA;
    --green: #259F00;
    --green-hover: #1f8600;
    --green-form: #DBEDE1;

    --yellow-background: #FFF8E3;
    --yellow-cta: #FFDF7E;
    --yellow-boxes: #FFF4D4;
    --yellow: #FFD24C;
    --yellow-background: #FFF8E3;

    --title-black: #2D2E30;
    --paragraph-black: #5D5F66;
    --footer: #535353;
}

/* ===== Buttons ===== */

.call-button {
    padding: 10px 15px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.cta-button {
    padding: 10px 15px;
    background-color: var(--yellow-cta);
    color: var(--title-black);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

.submit-button {
    padding: 10px 15px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.5s;
}

/* ===== Button Hover ===== */

.cta-button:hover {
    background-color: var(--yellow);
}

.submit-button:hover,
.call-button:hover {
    background-color: var(--green-hover);
}

/* Align button icon */

.call-button a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.submit-button__arrow {

}

/* =================================================== */
/* ===== HEADER ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.call-button a {
    color: var(--white);
}

/* =================================================== */
/* ===== MAIN SECTION ===== */

.hero-image {
    background-image: url(Images/HoneyHeroImage.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__title {
    text-align: center;
    max-width: 60ch;
}

.main__paragraph {
    text-align: center;
    color: var(--white);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.main__video {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

/* =================================================== */
/* ===== USP SECTION ===== */

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.usp-section{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.usps-box {
    background-color: var(--grey-background);
    border: 4px dashed var(--yellow);
    padding: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.usps-box__heading {
    display: flex;
    gap: 0.8rem;
}

/* =================================================== */
/* ===== MISSION SECTION ===== */

.mission-section {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

.mission-section h2 {
    max-width: 412px;
}

.mission-section p {
    max-width: 450px;
}

.mission-section__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

/* =================================================== */
/* ===== BOXES SECTION ===== */

.box-group {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    gap: 1.5rem;
}

.box {
    background-color: var(--yellow-boxes);
    border: 0.5px solid var(--yellow);
    padding: 2rem;
    max-width: 32%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

/* =================================================== */
/* ===== FORM SECTION ===== */

.order-form {
    padding: 5rem;
}

.form-box {
    background-color: var(--green-form);
    border: 4px dashed var(--green);
    padding: 3.5rem;
}

.order-form h2 {
    text-align: center;
}

.order-form > p {
    text-align: center;
    margin-bottom: 1.5rem;
}

.honey-tag {
    color: var(--title-black);
    background-color: var(--yellow);
    border-radius: 24px;
    padding: 0.255rem 0.6rem;
    font-size: 0.8rem;
    font-family: 'Merriweather Sans', sans-serif;
}

/* ---------------------------------------- */

.form__name {
    display: flex;
    justify-content: space-between;
}

.detail-input {
    width: 328px;
    height: 48px;
    padding: 0.5rem;
}

.form__contact {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__address {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
}

.address-input {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    width: 282px;
    height: 48px;
    padding: 0.5rem;
}

.address-input__state,
.address-input__zip {
    width: 180px;
    height: 48px;
    padding: 0.5rem;
}

.form__honey-type {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form__honey-type p {
    color: var(--title-black);
    font-weight: 800;
}

.form__honey-type--option {
    color: var(--paragraph-black);
}

.form__privacy-checkbox {
    margin-bottom: 0.5rem;
}

.form__privacy-checkbox--text {
    font-size: 0.9rem;
    color: var(--paragraph-black);
}

.form__privacy-checkbox--text a {
    text-decoration: underline;
}



/* =================================================== */
/* ===== FOOTER ===== */

.footer__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__div-menu ul {
    display: flex;
    gap: 1rem;
}